@tailwind base;
@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* DESIGN COLORS */
		--black: #000000;
		--white: #ffffff;
		--chernobyl: #c4ff33;
		--darkmode: #121212;
		--hover: #222222;
		--cardborder: #686868;
		--placeholder: #a9a9a9;
		--darkgrey: #b3b3b3;
		--lightgrey: #d9d9d9;

		/* ADDITIONAL COLORS */
		--destructive: #c92626;
		--muted: 0 0% 14.9%;

		/* NUMERIC VARIABLES */
		--radius: 0.5rem;
	}

	* {
		@apply border-hover;
	}

	body {
		@apply bg-black;
	}
}
