@tailwind base;
@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* DESIGN COLORS */
		--black: #000000;
		--white: #ffffff;
		--chernobyl: #c4ff33;
		--darkmode: #121212;
		--hover: #222222;
		--cardborder: #686868;
		--placeholder: #a9a9a9;
		--darkgrey: #b3b3b3;
		--lightgrey: #d9d9d9;

		/* ADDITIONAL COLORS */
		--destructive: #c92626;

		/* NUMERIC VARIABLES */
		--radius: 0.5rem;
	}

	body {
		@apply bg-darkmode;
	}
}

/* SMOOTH SCROLLING */
/* currently problematic with some components
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera 
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox *
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge *
		scrollbar-width: none; /* Firefox *
	}
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
*/